:root {
  --primary-dark : #F3F5FC;
  --secondary-dark: #003e60;
  --third--dark: #006e9d;
  --primary-ligth: #00f5ff;
  --secondary-ligth: #00f5ff;


  --footer-height: 190px;
  --body-padding: 20px;
  --nav-height: 50px;
  --main-height: calc(100vh - (var(--body-padding)*2));

  --color-text: #0A3871;
  --color-transparent : #ffffff00;
}


*, *::after, *::before{
  box-sizing: border-box;
}

body, p, h1{
  padding: 0;
  margin: 0;
}

body{
  min-height: 100vh;
  background-color: var(--primary-dark);
  padding: 20px;
}

.main{
  display: flex;
  min-height: var(--main-height);
  width: 80%;
  margin: auto;
  justify-content: space-between;
}


.nav{
  height: var(--nav-height);
}


.container__input{
  width: 100%;
}

.textarea{
  resize: none;
  outline: none;
  background-color: #ffffff00;
  border: 0;
  width: 70%;
  margin: auto;
  display: block;
  min-height: calc(var(--main-height) - 100px);
  color: var(--color-text);
  font-size: 32px;
}

.output{
  width: 450px;
  display: flex;

  flex-direction: column;
  background-color: #fff;
  word-wrap: break-word;
  overflow-y: scroll;

  padding: 20px;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  max-height:  calc(100vh - (var(--body-padding)*2));
  color: #495057;
  font-size: 32px;
}

#output{
  resize: none;
  min-height:  calc(100vh - ((var(--body-padding)*2) + 75px) );
  color: #495057;
  font-size: 32px;
  outline: none;
  border: none;
}
#output::-webkit-scrollbar{
  display: none;
}
.output::-webkit-scrollbar{
  display: none;
}


.btn{
  font-size: 16px;
  font-weight: bold;
  padding: 10px 15px;
  outline: none;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}



.btn-dark{
  background-color: var(--color-text);
  color: #fff;
}


.btn-ligth{
  background-color: var(--color-transparent);
  color: var(--color-text);
  border: 1px solid var(--color-text);
}

.img{
  display: block;
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
}

.hide{
  display: none;
}


@media (max-width: 716px) {
  
  .main{
    flex-direction: column;
    gap: 20px;
  }

  .output{
    position: relative;
    width: 100%;
  }
  .img{
    position: absolute;
    display: block;
    max-width: 100%;
  }
  .footer{
    display: flex;
    justify-content: space-between;
  }

  .textarea{
    height: 50vh;
  }
}